.dropdownWrap {
  position: relative;
  // margin: 38px auto 22px;
  width: 100%;
}

.dropdownFieldWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px 13px 7px 13px;
  border: 1px #c4c6d6 solid;
  border-radius: 5px;
  cursor: pointer;
}

.dropdownField {
  display: flex;
  align-items: center;
  // width: 250px;
  // padding: 15px 0 15px 13px;
  // border: 1px #c4c6d6 solid;
  // border-radius: 5px;
  // margin: 38px auto 22px;
  // cursor: pointer;
  font-size: 12px;

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   width: 24px;
  //   height: 24px;
  //   border-radius: 100%;
  //   background-color: #c4c6d6;
  //   background-image: url("/img/expandObject.png");
  //   // background-size: 10px 10px;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   position: relative;
  //   left: 100px;
  // }
}

.dropdownList {
  border: 1px #c4c6d6 solid;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  z-index: 100;
  position: absolute;
  top: 39px;
  // left: 25px;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
}

.dropdownBtn {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #c4c6d6;
  background-image: url("/img/expandObject.png");
  // background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  // position: relative;
  // left: 100px;
}

.dropdownListItem {
  cursor: pointer;
  font-size: 12px;
  padding: 15px 10px 15px 13px;
  &:hover {
    text-decoration: underline;
  }
}

//-----------------------------dropdown--------------//

.thumbsContainer {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  // flex-direction: "row";
  // flex-wrap: "wrap";
}

.thumb {
  display: inline-flex;
  // border-radius: 20px;
  // margin-bottom: 8px;
  // margin-right: 8px;
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow: hidden;
  // border: 1px solid #e0e0e0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.04));
  border-radius: 10px;
}
.thumbInner {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  & img {
    border-radius: 5px;
  }
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fileName {
  font-size: 10px;
}
.imageRemove {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 25px;
  min-height: 25px;
  border-radius: 15px;
  background: none;
  border: 1px solid black;
  background-color: white;
  background-image: url("/img/cross.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #d8d8d8;
    transition: all 0.2s;
  }
}

.dragndropWrap {
  border: 1px solid #c4c6d6;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
}

.dragndropField {
  background-color: #f5f5f5;
  background-image: url("/img/Camera.png");
  background-size: 51px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  // padding: 50px 42px;
  transition: all 0.2s;
  &.hoveredOver {
    background-color: #bdbdbd;
    transition: all 0.2s;
  }
}

.dragndropText {
  font-size: 12px;
  text-align: center;
}

.dragndropWarn {
  font-size: 10px;
  text-align: center;
}

//-----------------------------dropzone--------------//

#overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  // transition: all 5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  &.hidden {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

.container {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  margin: 26px 23px 26px 31px;
  // margin-left: 300px;
  padding: 32px 20px 20px;
  max-width: 1146px;
}

.entireThingWrap {
  padding: 0 calc((100% - 336px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  font-weight: 400;
  line-height: 130%;
  /* identical to box height, or 21px */

  letter-spacing: 0.04em;

  color: #000000;
}

.formWrap {
  width: 100%;
}

.fieldWrap {
  width: 100%;
  margin-bottom: 25px;
  &:first-child {
    margin-top: 38px;
  }
}

.fieldName {
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  /* 1c1c1c */
  margin-bottom: 8px;
  display: block;
  color: #1c1c1c;
  &.center {
    margin: 0 calc(50% - 54px);
    text-align: center;
  }
  &.toggle {
    font-size: 16px;
    margin-top: 10px;
  }
}

.field {
  border-radius: 5px;
  border: 1px solid #c4c6d6;
  padding: 10px 0 10px 12px;
  width: 100%;
  font-size: 12px;
}

.warning {
  display: block;
  text-align: end;
  color: #9c9da7;
  font-size: 10px;
}

.errorText {
  display: block;
  font-size: 12px;
  color: red;
}

.warningWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.submitBtn {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-width: 0;
  background-color: #ff8c00;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}

.cancelBtn {
  display: block;
  width: 80%;
  margin: 0 auto;
  display: block;
  border: 1px solid #ff8c00;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}

.checkboxWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: inline-block;
  // pointer-events: none;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  height: 24px;
  width: 24px;
  border: 2px solid #254a63;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #254a6345;
  }
  &.checked {
    background-image: url("/img/check.png") !important;
  }
}
