.objectItem {
  margin: 30px;
  border-radius: 9px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.objectFirstHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px 32px;
}

.objectManage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
  // height: 143px;
}

.objectProperties {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.iconWrap {
  padding-right: 13px;
}

.objectInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
}
.objName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 250px;
}

.objectAddress {
  font-size: 12px;
  line-height: 130%;
  max-width: 250px;
  /* identical to box height, or 16px */

  /* 254A63 */

  color: #254a63;
}

.objectMonetaryStuff {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.objectDebtBtn {
  font-size: 14px;
  line-height: 16px;
  display: inline;
  vertical-align: middle;
  padding-right: 6px;
  /* 1c1c1c */

  color: #1c1c1c;
}

.debtBtnIcon {
  background: none;
  border-width: 0;
  cursor: pointer;
  background-image: url("../public/img/Info-circle.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-right: 15px;
}

.objectValue {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  display: block;
  /* identical to box height, or 38px */
  color: #f54019;
  &.isZero {
    color: #22c54f;
  }
}

.refreshBtn {
  background: none;
  border-width: 0;
  cursor: pointer;
  background-image: url("../public/img/refresh.png");
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  display: block;
  &.rotating {
  }
}

@media (prefers-reduced-motion: no-preference) {
  .refreshBtn.rotating {
    animation: refresh-btn-spin infinite 2s linear;
  }
}

@keyframes refresh-btn-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.objPayBtn {
  background-color: #ff8c00;
  padding: 25px;
  display: block;
  text-align: center;
  width: 100%;
  min-width: 306px;
  padding: 12px 0 12px;
  padding-left: 30px;
  // margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  &::before {
    content: "";
    background-image: url("../public/img/wallet.png");
    display: block;
    width: 19px;
    height: 18px;
    position: relative;
    display: inline-block;
    right: 10px;
    top: 3px;
  }
  &.inactive {
    opacity: 0.4;
    cursor: auto;
  }
}

.objectTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  /* 1c1c1c */

  color: #1c1c1c;
}

.firstHalfBtnsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 70%;
  flex: 1;
}

.objectBtn {
  padding: 20px 24px;
  border-radius: 5px;
  border: 1px solid #c4c6d6;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: clamp(100px, 25%, 300px);
  & div {
    height: 55px;
  }
  & > span {
    font-size: 14px;
    text-align: center;
  }
}

.btnsHorWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.objectBtnHorizontal {
  border-radius: 5px;
  border: 1px solid #c4c6d6;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  width: clamp(100px, 20vw, 500px);
  & > span {
    font-size: 14px;
  }
}

.notificationsNumber {
  position: relative;
  display: block;
  bottom: 55px;
  left: 45px;
  background: #f54019;
  box-shadow: inset 0px 6.23037px 6.23037px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  letter-spacing: -0.05em;
  color: white;
  font-size: 14px;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
}

.inline {
  bottom: 0px;
  left: 0px;
  margin-left: 15px;
}

.BtnIconRegular {
  margin-bottom: 10px;
}

.btnHorizontalExpand {
  // position: relative;
  // left: 10px;
  background: none;
  border-width: 0;
  cursor: pointer;
  background-image: url("../public/img/expandIcon.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  // margin-right: 15px;
  display: block;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.objectOptionsWrap {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  padding: 10px 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: absolute;
  right: 30px;
}

.objectOptionsBtn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.threeDotsBtn {
  background-image: url("../public/img/threedots.png");
  // height: 57px;
  margin-bottom: 21px;
  // border-bottom: 1px solid #78829b;
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 36px;
    background-color: #78829b;
    opacity: 0.3;
    position: relative;
    top: 56px;
  }
}

.expandBtn {
  background-image: url("../public/img/expandObject.png");
  // margin-top: 21px;
  transition: all 0.2s;

  &.upsideDown {
    transform: rotate(180deg);
    transition: all 0.2s;
  }
}

.objectSecondHalf {
  padding: 0 150px 32px;
  transition: max-height 0.2s ease-in-out;
  // transform: scaleY(1);
  max-height: 200vh;
  transform-origin: bottom;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &.hidden {
    max-height: 0;
    padding-bottom: 0;
    // transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
}

.secondHalfBlock {
  border: 1px solid #c4c6d6;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
}

.rightColumn {
  flex: 3;
}

.estateInfo {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-bottom: 20px;
}

.tableWrap {
  width: 100%;
}

.propertyTable {
  width: 100%;
  & caption {
    text-align: left;
    padding-bottom: 18px;
  }
  & td:last-child {
    text-align: right;
    // width: 91px;
  }
  & tr {
    height: 20px;
  }
  & * {
    font-size: 12px;
    line-height: 14px;
    color: #1c1c1c;
  }
}

.scrollable {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #67666b #f1f1f1;
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #67666b;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #67666b;
  }
}

.readingsTable {
  width: 100%;
  & th {
    color: #254a63;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  & td {
    text-align: center;
    // width: 91px;
  }
  & tr {
    height: 20px;
  }
  & * {
    font-size: 12px;
    line-height: 14px;
    color: #1c1c1c;
  }
}

.readingsInput {
  border: 1px solid #c4c6d6;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

.historyTable {
  width: 100%;
  & caption {
    text-align: left;
    padding-bottom: 18px;
  }
  & td:last-child {
    text-align: right;
    // width: 91px;
  }
  & tr {
    height: 20px;
  }
  & * {
    font-size: 12px;
    line-height: 14px;
    color: #1c1c1c;
  }
}

.historyName {
  font-size: 16px;
}

.historySum {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 500;
}

.historyStatus {
  font-size: 16px;
  color: #9c9da7;
}

.servicesWrap {
  display: flex;
  flex-direction: row;
}

.blockSubtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1c1c1c;
}

.suggestedServices {
  // background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: pointer;
}

.servicesList {
  padding-left: 0;
  & * {
    font-size: 12px;
    line-height: 14px;
    color: #1c1c1c;
    padding-bottom: 10px;
  }
}

.allServicesBtn {
  padding: 10px 80px;
  border: 1px solid #ff8c00;
  border-radius: 5px;
  text-align: center;
}
.leftColumn {
  // width: 50%;
  margin-right: 5%;
}

.rightColumn {
  width: 50%;
}

.functionalTabsWrap {
  background-color: #e2e3eb;
  margin-bottom: 25px;
  border-radius: 5px;
}

.tabItem {
  padding: 15px;
  display: inline-block;
  color: #78829b;
  &.active {
    color: #1c1c1c;
    position: relative;
    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      // display: inline;
      top: 40px;
      left: 10px;
      // z-index: -1;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      border-top: 25px solid #e2e3eb;
      // e2e3eb
    }
  }
}

.readingsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.readingsItemName {
  font-size: 16px;
  color: #254a63;
  font-weight: 500;
}

.historyIcon {
  margin-right: 10px;
}

.historyBtn {
  background-color: #ff8c00;
  display: block;
  text-align: center;
  width: 115px;
  // min-width: 306px;
  padding: 8px 0;
  // margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;

  &.inactive {
    opacity: 0.4;
    cursor: auto;
  }
}

.timelapseTabBlock {
  background: #fafafa;
  border-radius: 5px;
  margin-bottom: 15px;
}

.timelapseTabItem {
  padding: 15px;
  display: inline-block;
  color: #1c1c1c;
  &.active {
    border-bottom: 2px solid #ff8c00;
  }
}

.paymentTable {
  padding: 25px;
  width: 100%;
  & .paymentTableCaption {
    margin-top: 20px;
    text-align: left;
    padding-left: 44px;
  }
  & tr {
    width: 200px;
  }
  & thead {
    height: 40px;
    vertical-align: top;
    &:after {
      display: block;
      content: "";
      height: 1px;
      width: calc(253%);
      background-color: #c4c6d6;
      position: relative;
      overflow: visible;
      // top: 250px;
      // right: 455px;
    }
    & tr * {
      text-transform: uppercase;
      line-height: 19px;
      color: #254a63;
    }
  }
  & tr {
    height: 30px;
    // & .firstColumn {
    //   width: 300px;

    // }
    & * {
      font-size: 14px;
      line-height: 16px;
      color: #1c1c1c;
      // min-width: 20%;

      &.receiptBtn {
        font-size: 12px;
        line-height: 14px;
        color: #78829b;
        vertical-align: middle;
        cursor: pointer;
        width: 200px;
        &:before {
          content: "";
          background-image: url("../public/img/adobe.png");
          display: inline-block;
          height: 20px;
          width: 20px;
          padding-right: 5px;
          background-repeat: no-repeat;
          position: relative;
          top: 5px;
        }
      }
      &.payBtn {
        border-radius: 5px;
        background-color: #ff8c00;
        color: white;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  & tfoot *,
  thead * {
    height: 30px;
    text-transform: uppercase;
    line-height: 19px;
    color: #254a63;
    font-size: 16px;
  }
}

.firstCol {
  width: 40%;
}
.secondCol {
  width: 10%;
}
.thirdCol {
  width: 10%;
}
.fourthCol {
  width: 20%;
}
.fifthCol {
  width: 20%;
}

.timelapseTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* 254A63 */

  color: #254a63;
  &:before {
    content: "";
    background-image: url("../public/img/paymentHistoryIcon.png");
    display: inline-block;
    width: 27px;
    height: 27px;
    position: relative;
    top: 7px;
    right: 15px;
  }
}

.iconLarge {
  display: none !important;
}
.iconSmall {
  display: block !important;
}

@media screen and (min-width: 1960px) {
  .objectFirstHalf,
  .objectSecondHalf {
    width: 1597px;
    // padding: 32px calc(100% - 1597px) 32px;
  }
  .objectBtnHorizontal {
    width: 392px;
  }
}

@media screen and (min-width: 1661px) {
  .objectBtn {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1660px) {
  .objectBtn {
    padding: 12px 8px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .objectFirstHalf,
  .objectSecondHalf {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    padding: 32px 55px 32px 20px;
  }
  .objectSecondHalf {
    padding-top: 0;
  }
}

@media screen and (max-width: 1360px) {
  .firstCol {
    width: 50%;
  }
  .secondCol {
    width: 10%;
  }
  .thirdCol {
    width: 10%;
  }
  .fourthCol {
    width: 15%;
  }
  .fifthCol {
    width: 15%;
  }
  .tabItem {
    font-size: 14px;
    // max-width: 30%;
    display: block;
    &::before {
      display: none;
    }
  }
  .objectBtnHorizontal {
    width: 15vw;
    padding: 5px 5px;
  }
  .paymentTable thead:after {
    width: 210%;
  }
  .objectBtn span,
  .btnWrap span {
    font-size: 12px;
  }
  .notificationsNumber {
    // margin-left: 8px;
  }
  .paymentTable tbody * {
    font-size: 12px;
  }
}

// @media screen and (min-width: 1199px), (max-width: 1024px) {
//   .btnsHorWrap {
//     display: flex;
//   }
//   .standaloneBtns {
//     display: none;
//   }
// }

// @media screen and (max-width: 1200px) and (min-width: 1025px) {
//   .standaloneBtns {
//     display: flex;
//   }
//   .btnsHorWrap {
//     flex-direction: row;
//     display: none;
//   }
// }

@media screen and (min-width: 1199px) {
  .btnsHorWrap {
    display: flex;
  }
  .standaloneBtns {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .standaloneBtns {
    display: flex;
  }
  .btnsHorWrap {
    flex-direction: row;
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .secondHalfBlock {
    padding: 10px;
    & .iconWrap {
      display: none;
    }
  }
  .objectProperties .iconWrap {
    display: none;
  }
  .objectValue {
    font-size: 16px;
    min-width: 90px;
  }
  .objPayBtn {
    min-width: 0;
    width: 100%;
  }
  .inline {
    position: relative;
    bottom: 20px;
    right: 60px;
    margin-left: 15px;
  }
  .allServicesBtn {
    padding: 5px;
    width: 50%;
    min-width: 95px;
    align-self: center;
  }
  .objectBtn > span,
  .btnWrap > span:first-of-type {
    display: none;
  }
  .btnWrap div {
    height: 55px;
    width: 55px;
  }

  .standaloneBtns {
    & .btnWrap {
      margin-bottom: 10px;
    }
  }
  .objectManage {
    margin-right: 3%;
  }
  .objectBtn {
    width: clamp(100px, 25%, 300px);
    height: 100%;
    & .btnHorizontalExpand {
      display: none;
    }
  }
  .iconLarge {
    display: block !important;
  }
  .iconSmall {
    display: none !important;
  }
  .objectSecondHalf {
    display: flex;
    flex-direction: column;
  }
  .leftColumn {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    justify-content: space-between;
  }
  .objectBtn {
    padding: 8px 5px;
    width: auto;
  }

  .secondHalfBlock {
    width: 45%;
  }
  .estateInfo {
    margin-bottom: 0;
  }
  .firstHalfBtnsWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
  }
  .notificationsNumber {
    left: 35px;
  }
  .rightColumn {
    width: 100%;
  }
  .functionalTabsWrap {
    margin-top: 20px;
  }
  .secondHalfBlock {
    width: 100%;
  }
  .paymentTable {
    padding: 10px;
    & .paymentTableCaption {
      margin-top: 0;
    }
  }
  .secondHalfBlock:first-child {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .firstHalfBtnsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .objectItem {
    margin: 15px;
  }
  .objectManage {
    // margin-right: 0 !important;
  }
  .objectBtn {
    padding: 0;
    width: auto;
  }
  .objectFirstHalf {
    // flex-direction: column;
    padding: 12px 45px 12px 20px;
  }

  .objectOptionsWrap {
    padding: 5px 4px;
  }
  .threeDotsBtn {
    margin-bottom: 0;
    &::after {
      top: 35px;
    }
  }
  .expandBtn {
    margin-top: 0;
  }
  .firstHalfBtnsWrap {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    & .objectBtn:nth-child(3) .notificationsNumber {
      bottom: 55px;
    }
  }
  .btnWrap {
    margin-bottom: 0 !important;
    height: auto !important;
  }
  .objectBtn {
    margin: 0;
    height: 55px;
    & div {
      height: 55px;
      width: 55px;
    }
  }
  .notificationsNumber {
    bottom: 50px;
  }
  .secondHalfBlock {
    padding: 3px 3px 10px;
    &:first-child {
      margin-right: 5px;
    }
  }
  .objectOptionsWrap {
    right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .objectFirstHalf {
    align-items: flex-start;
  }
  .objectFirstHalf {
    flex-direction: column;
  }
  .firstHalfBtnsWrap {
    grid-template-columns: repeat(4, 1fr);
  }
  .objectManage {
    margin-right: 0 !important;
  }
  .objectSecondHalf {
    padding: 12px 15px 12px 20px;
  }
  .paymentTable {
    & thead *,
    tfoot * {
      font-size: 14px;
    }
    min-width: 400px;
  }
  .rightColumn .secondHalfBlock {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #67666b #f1f1f1;
    /* width */
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #67666b;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #67666b;
    }
  }
}
