/* roboto-300 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Gilroy-Medium.eot"); /* IE9 Compat Modes */
  src: local(""), /* Super Modern Browsers */ url("../public/fonts/Gilroy-Medium.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Gilroy-Regular.eot"); /* IE9 Compat Modes */
  src: local(""), /* Super Modern Browsers */ url("../public/fonts/Gilroy-Regular.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/Gilroy-Regular.ttf") format("truetype");
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  // transition: all 5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  &.hidden {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 769px) {
  #overlay {
    display: none;
  }
}

.pageWrap {
  overflow-x: hidden !important;
  background-color: #f5f5f5;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
}

.headerButtonsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gradient {
  background: linear-gradient(91.09deg, #011a2b 2.15%, #344f5f 93.63%);
}

.headerLogoWrap {
  margin-left: 37px;
  cursor: pointer;
}

.headerButtonsWrap {
  // width: 250px;
  margin-right: 25px;
}

.bellWrap {
  height: 100%;
  position: relative;
}

.notificationsNumber {
  position: absolute;
  top: 0;
  right: 0;
  background: #f54019;
  box-shadow: inset 0px 6.23037px 6.23037px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  letter-spacing: -0.05em;
  color: white;
  font-size: 14px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 21px;
}

.userWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > div {
    height: 28px;
  }
}

.name {
  color: white;
  padding-left: 10px;
}

.dropdownBtn {
  height: 30px;
  width: 30px;
  background-color: #809199;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform: rotate(180deg);
  cursor: pointer;
}

.dropdownMenu {
  display: block;
  position: absolute;
  top: 30px;
  right: 35px;
  // width: 100px;
  // height: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: white;
  z-index: 100;
  & ul {
    padding-left: 15px;
    padding-right: 40px;
    margin: 20px;
    & :not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.dropdownMenuItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  & span {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    padding-left: 15px;
  }
}

.bellWrap,
.userWrap {
  margin-right: 38px;
}

.rightMenu {
  position: fixed;
  display: inline;
  top: 59px;
  right: 0;
  width: 263px;
  // height: 100vh;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ff8c00 #344f5f;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #344f5f;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ff8c00;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ff8c00;
  }
  z-index: -1;
  transition: all 0.2s;
  background: linear-gradient(91.09deg, #324d5c 2.43%, #344f5f 94.51%);
  &.collapsed {
    width: 26px;
    transform-origin: right;
    transition: all 0.2s;
    & *:not(.collapseMenuBtn) {
      display: none;
    }
    & .asideMenu .menuItem {
      pointer-events: none;
      &.active {
        border-width: 0;
      }
    }
  }
}

.asideMenu {
  padding: 0;
  position: relative;
  & > :not(:last-child):after {
    content: "";
    display: block;
    width: 204px;
    height: 1px;
    background-color: #78829b;
    position: absolute;
    // bottom: 0px;
    left: 30px;
  }
}

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0 15px 30px;
  margin-right: 20px;
  cursor: pointer;
  box-sizing: content-box;
  // border-bottom: 1px solid #78829b;
  // border-left: none;
  // transition: all 1s;

  &:hover {
    border-left: #ff8c00 8px solid;
    transition: all 0.1s;
    & .menuItemText {
      color: white;
    }
  }
  &.active {
    border-left: #ff8c00 8px solid;
    transition: all 0.1s;
    & .menuItemText {
      color: white;
    }
  }
}
.menuItemText {
  color: #c4c6d6;
  padding-left: 15px;
  letter-spacing: 0.04em;
  font-size: 14px;
}

.menuAd {
  height: 231px;
  width: 204px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../public/img/appAd.png");
  background-repeat: no-repeat;
  background-size: 204px 231px;
  margin: 0 auto;
  background-image: url("../public/img/payAd.png");
}

.menuAdBtn {
  background-color: #ff8c00;
  border-radius: 5px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 11px;
  color: #fff;
  padding: 5px 30px;
  text-decoration: none;
  position: relative;
  bottom: 12px;
}

.collapseMenuBtn {
  background: none;
  border-width: 0;
  position: absolute;
  top: 46vh;
  cursor: pointer;
  transform: translateX(25%);
  transition: all 0.2s;
  padding: 20px 3px;
  z-index: 5;
  &:hover {
    transform: scale(1.2) translate(20%);
    transition: all 0.2s;
  }
  &.collapsed {
    transform: rotate(180deg);
    transition: all 0.2s;
    &:hover {
      transform: rotate(180deg) scale(1.2) translate(20%);
      transition: all 0.2s;
    }
  }
}

@media screen and (max-width: 768px) {
  .name {
    display: none;
  }
  .headerLogoWrap {
    margin-left: 10px;
    width: 150px;
  }
  .bellWrap,
  .userWrap {
    margin-right: 10px;
  }
  .header {
    min-height: 60px;
  }
  .container {
    width: calc(100vw) !important;
  }
  .rightMenu.collapsed {
    width: 0;
  }
}
.container {
  position: absolute;
  top: 60px;
  // padding-top: 94px;
  // margin-left: 30px;
  background-color: #f5f5f5;
  overflow-y: visible;
  z-index: -10;
  min-height: calc(100vh - 60px);
  width: calc(100vw - 263px);
  &.expanded {
    width: calc(100vw - 26px);
  }
}

.containerMap {
  position: absolute;
  top: 60px;
  // padding-top: 94px;
  // margin-left: 30px;
  background-color: #f5f5f5;
  overflow-y: visible;
  z-index: -10;
  min-height: calc(100vh - 60px);
  width: calc(100vw - 263px);
  &.expanded {
    width: calc(100vw - 0px);
  }
}
