#overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  // transition: all 5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  &.hidden {
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

.popup {
  position: absolute;
  top: calc(50vh - 260px);
  left: calc(50vw - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // right: 0;
  z-index: 1000;
  background-color: white;
  border-radius: 20px;
  width: 460px;
  height: 520px;
  // padding: 100px;
  &.partnership {
    height: 800px;
    top: calc(50vh - 400px);
  }
  &.partnership2 {
    height: 800px;
    top: calc(50vh - 400px);
  }
}

@media screen and (max-width: 720px) {
  .popup {
    width: 360px;
    left: calc(50vw - 180px);
    // & > * {
    //   width: 240px;
    // }
    .closeBtn {
      //   left: 330px;
    }
  }
}

.closeBtn {
  background-image: url("../public/img/crossLarge.png");
  height: 20px;
  width: 20px;
  background-size: 20px;
  display: block;
  position: absolute;
  top: 30px;
  // left: 44%;
  right: 5%;
  // left: 135px;
  // top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.popupHeading {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0 65px 32px;
  /* identical to box height, or 24px */
  display: block;
  text-align: center;

  color: #000000;
  // text-transform: uppercase;
  // margin-bottom: 32px;
}

.popupText {
  font-size: 16px;
  line-height: 150%;
  margin: 0 65px 32px;
  /* identical to box height, or 24px */
  display: block;
  text-align: center;

  color: #000000;
}

.popupFieldWrap {
  // width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 30px;
  &:not(:last-child) {
    margin-bottom: 18px;
  }
  & .popupComment {
    width: 100%;
  }
  & .warningWrap {
    width: 100%;
  }
  .column {
    flex-direction: column;
    align-items: center;
  }
}

.field {
  border-radius: 9px;
  border: 1px solid #c4c6d6;
  padding: 10px 0 10px 12px;
  width: 270px;
  font-size: 12px;
}

.textarea {
  resize: none;
}

.warning {
  display: block;
  text-align: end;
  color: #9c9da7;
  font-size: 10px;
}

.errorText {
  display: block;
  font-size: 12px;
  color: red;
  align-self: flex-start;
}

.warningWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-bottom: 40px;
}

.submitBtn {
  width: 270px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  border-width: 0;
  background-color: #ff8c00;
  color: white;
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}
.secondaryOption {
  background-color: white;
  border-width: 0;
  font-size: 16px;
  line-height: 150%;
  color: #888b8e;
  position: relative;
  cursor: pointer;
  //   display: block;
  text-align: center;
  &:hover {
    // border-bottom-width: 1px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    border-bottom: 1px solid #888b8e;
  }
  &:hover::after {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.delimiter {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #c4c6d6;
  position: relative;
  &:before,
  &:after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #c4c6d6;
    display: block;
    position: absolute;
  }
  &:before {
    top: 11px;
    right: 47px;
  }
  &:after {
    bottom: 10px;
    // right: 47px;
    left: 47px;
  }
}

.eulaText {
  font-size: 9px;
  line-height: 160%;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #2a2a28;
}
.eulaLink {
  font-size: 9px;
  line-height: 160%;
  cursor: pointer;
  text-decoration-line: underline;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #4f4f4f;
}

.resendIn {
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}

.resendInactive {
  font-size: 16px;
  line-height: 150%;
  color: #b0b0b0;
  background-color: white;
  border-width: 0;
}
.resendActive {
  font-size: 16px;
  line-height: 150%;
  color: #505050;
  background-color: white;
  border-width: 0;
  cursor: pointer;
}

.withEyeSecure {
  position: relative;
  background: url("/img/eyeOpen.png") 50%;
  background-size: 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.relative {
  position: relative;
}

.withEyeInsecure {
  position: relative;
  background: url("/img/eyeClosed.png") 50%;
  background-size: 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.partnershipFormHeader {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  /* identical to box height, or 29px */

  /* 1c1c1c */
  margin: 0 65px 32px;
  color: #1c1c1c;
  text-align: center;
  display: block;
}
.partnershipFormText {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  text-align: center;

  /* 1c1c1c */

  color: #1c1c1c;
  display: block;
  margin: 0 65px 32px;
}

.fileSize {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-align: center;

  /* C4C6D6 */

  color: #c4c6d6;
  display: block;
  margin: 0px 0 26px;
}

.checkboxWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  display: inline-block;
  // pointer-events: none;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  height: 24px;
  width: 24px;
  border: 2px solid #254a63;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #254a6345;
  }
  &.checked {
    background-image: url("/img/check.png") !important;
  }
}

.partnershipEulaText {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #c4c6d6;
  width: 250px;
}

.partnershipEulaLink {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  /* #FF8C00 */

  color: #ff8c00;
  cursor: pointer;
}

.orgTypeOption {
  background: #ffffff;
  /* C4C6D6 */
  border: 1px solid #c4c6d6;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  &.selected {
    border-color: #ff8c00;
    filter: drop-shadow(0px 0px 15px #ff8c0099);
  }
}

.orgType {
  height: 60px;
}

.orgTypeText {
  text-align: left;
  width: 270px;
  display: block;
  padding-left: 60px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  /* 254A63 */

  color: #254a63;
  &:before {
    content: "";

    background-size: 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 15px;
  }
  &.uk::before {
    background-image: url("/img/uk.png");
  }
  &.upravdom::before {
    background-image: url("/img/upravdom.png");
  }
  &.admakers::before {
    background-image: url("/img/admakers.png");
  }
  &.stores::before {
    background-image: url("/img/stores.png");
  }
  &.business::before {
    background-image: url("/img/business.png");
  }
  &.user::before {
    background-image: url("/img/user.png");
  }
}

.writeAdminText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  text-align: center;

  /* 254A63 */

  color: #254a63;
}

.writeAdminBtn {
  cursor: pointer;
  color: #ff8c00;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.completeInfo {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23C4C6D6FF' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 226px;
  height: 190px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 15px 48px;
  justify-content: space-between;
}

.completeHeader {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: center;

  /* 1c1c1c */

  color: #1c1c1c;
}

.completeText {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-align: center;

  /* 254A63 */

  color: #254a63;
}
.completeCheck {
  background-image: url("/img/dropzoneCheckLarge.png");
  background-size: 23px;
  width: 23px;
  height: 23px;
  display: block;
}
.completeContacts {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-align: center;

  /* 1c1c1c */

  color: #1c1c1c;
  display: block;
}
.completeEmail {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-align: center;

  /* 1c1c1c */

  color: #1c1c1c;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
//---------------------------------------------------------------------//

.thumbsContainer {
  display: grid;
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  // flex-direction: "row";
  // flex-wrap: "wrap";
}

.thumb {
  display: inline-flex;
  // border-radius: 20px;
  // margin-bottom: 8px;
  // margin-right: 8px;
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow: hidden;
  // border: 1px solid #e0e0e0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.04));
  border-radius: 10px;
}
.thumbInner {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  & img {
    border-radius: 5px;
  }
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fileName {
  font-size: 10px;
}
.imageRemove {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 25px;
  min-height: 25px;
  border-radius: 15px;
  background: none;
  border: 1px solid black;
  background-color: white;
  background-image: url("/img/cross.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #d8d8d8;
    transition: all 0.2s;
  }
}

.dragndropWrap {
  background-color: #ffffff;
  width: 270px;
  height: 36px;
  position: relative;
  // margin: 0 auto;
}

.dragndropField {
  // background-color: #f5f5f5;
  // background-image: url("/img/Camera.png");
  // background-size: 51px;
  // background-position: 50%;
  // background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23C4C6D6FF' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-color: #c4c6d6;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  // padding: 50px 42px;
  transition: all 0.2s;

  &:hover .dragndropFieldBtn {
    filter: brightness(120%);
    transition: all 0.2s;
  }
  &.hoveredOver {
    // background-color: #bdbdbd;
    background-image: none;
    // border: 1px solid #c4c6d6;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23C4C6D6FF' stroke-width='2' stroke-dasharray='6%2c0' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    transition: all 0.2s;
    &::after {
      filter: brightness(120%);
      transition: all 0.2s;
    }
  }
}

.dragndropText {
  font-size: 12px;
  text-align: center;
}

.dragndropWarn {
  font-size: 10px;
  text-align: center;
}

.dragndropPlaceholder {
  height: 100%;
  display: block;
  line-height: 36px;
  font-weight: 400;
  font-size: 12px;

  /* or 19px */

  /* 07244E */

  color: #07244e;
  padding-left: 16px;
}

.dragndropFieldBtn {
  display: block;
  position: absolute;
  right: 14px;
  bottom: 6px;
  background: #ff8c00;
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s;
  background-image: url("/img/plusWhiteSmall.png");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 50%;
  &.filled {
    background-image: url("/img/trashWhite.png");
    &::before {
      content: "";
      background-image: url("/img/dropzoneCheck.png");
      background-size: 12px;
      width: 12px;
      height: 12px;
      display: block;
      position: absolute;
      top: 5px;
      left: -20px;
    }
  }
}

//-----------------------------------dropzone------------------------//

.otp {
  // background-color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  & > * {
    width: 42px !important;
  }
  & :not(:last-child) {
    margin-right: 18px;
  }
}

.input {
  width: 42px !important;
  height: 46px;
  border: 1px solid #b1b8c1;
  border-radius: 9px;
  font-size: 28px;
  &:focus {
    outline: 1px solid #ff8c00;
    border: 1px solid #ff8c00;
  }
  &.error {
    outline: 1px solid red;
    border: 1px solid red;
  }
}
