.objPayBtn {
  background-color: #ff8c00;
  padding: 25px;
  display: block;
  text-align: center;
  width: 300px;
  min-width: 306px;
  padding: 12px 0 12px;
  // padding-left: 30px;
  // margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
