/* roboto-300 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin-ext_latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../public/fonts/roboto-v30-latin-ext_latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}

// body {
//   background-color: #f5f5f5;
// }

.App {
  /* text-align: center; */
}

// * {
//   box-sizing: border-box;
//   font-family: "Roboto";
//   font-style: normal;
//   font-size: 16px;
// }

// .App li {
//   list-style: none;
// }

// .App a {
//   text-decoration: none;
// }

.gradient {
  background: linear-gradient(91.09deg, #011a2b 2.15%, #344f5f 93.63%);
}

.container {
  // width: 100%;
  // max-width: 1920px;
  // margin: 0 auto;
  // padding: 12px 30px 0;
  // &.no-interaction {
  //   height: 100%;
  //   overflow: hidden;
  // }
}

.mainContainer {
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .mainContainer {
    padding: 0 15px;
  }
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.header__button {
  border-radius: 15px;
  width: 285px;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.header__center {
  width: calc(100% - 630px);
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.button__icon {
  // padding: 15px 15px 15px 28px;
  padding-left: 13px !important;
}

.header__logo {
  padding-left: 38px !important ;
}

.header__bell {
  // padding-right: 38px;
  // margin-right: 0;
}

.header__btn-block {
  display: flex;
  flex-direction: row;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button__text {
  color: #fff;
  letter-spacing: 0.05em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header > :not(:last-child) {
  margin-right: 30px;
}

.banner-section {
  display: flex;
  flex-direction: row;
}

.banner-section__column {
  border-radius: 15px;
  margin-top: 24px;
  width: 285px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.banner-section__column:not(:last-child) {
  margin-right: 30px;
}

.banner-section__banner {
  border-radius: 15px;
  width: calc(100% - 630px);
  overflow: hidden;
  height: 716px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.ads__item {
  height: 342px;
  width: 285px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../public/img/appAd.png");
  background-repeat: no-repeat;
  background-size: 285px 342px;
}

.ads__item:last-child {
  margin-top: 32px;
  background-image: url("../public/img/payAd.png");
}

.item__btn-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 259px;
  position: relative;
  bottom: 19px;
}

.app-btn {
  // width: 80px;
  // margin-right: 5px !important;
}

// .item__btn-block-one-btn {
//   background-color: #ff8c00;
//   border-radius: 15px;
//   text-transform: uppercase;
//   align-items: center;
//   justify-content: center;
//   font-weight: 900;
//   font-size: 11px;
//   color: #fff;
//   padding: 10px 50px;
//   text-decoration: none;
//   position: relative;
//   bottom: 19px;
// }

.banner {
  height: 716px;
  width: 70vw;
  max-width: 1230px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: url("../public/img/bannerBg.png");
  background-repeat: no-repeat;
  background-size: 1230px 716px;
}

.banner__intro-span {
  font-weight: 300;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 27px;
}

.banner__logo {
  width: 395px;
  margin-bottom: 27px;
}

.banner__text {
  color: white;
  display: block;
  width: 70%;
  max-width: 645px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 74px;
  @media screen and (max-width: 1400px) {
    font-size: 14px;
    max-width: 400px;
  }
}

.banner__link {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    border-bottom: 1px solid white;
  }
  &:hover::after {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.banner__text:last-child {
  margin-bottom: 0;
}

.banner__btn {
  background-color: #ff8c00;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  padding: 16px 30px;
  text-decoration: none;
  margin-bottom: 54px;
}

.banner__menu {
  margin-top: 42px;
  width: 285px;
  padding-left: 0;
  position: relative;
  right: 15px;
  margin-bottom: 0;
}

.menu__item {
  padding: 30px 0px 30px 70px;
  background-color: #f5f5f5;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-weight: 500 !important;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu__item > a {
  text-decoration: none;
  color: #9c9da7;
}

.menu__item::before {
  content: url("../public/img/listItem.png");
  position: relative;
  right: 40px;
}

// .menu__ad {
//   // height: 204px;
//   // width: 240px;
//   margin-bottom: 26px;
//   overflow: hidden;
//   display: flex;
//   align-items: flex-end;
//   justify-content: center;
//   // background-image: url("../public/img/menuAppAd.png");
//   background-repeat: no-repeat;
//   // background-size: 240px 204px;
// }

// .menu-ad-item__btn-block {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 219px;
//   position: relative;
//   bottom: 8px;
// }

// .menu-ad-item__btn-block .app-btn {
//   width: 67px;
// }

#navIcon {
  width: 30px;
  height: 26px;
  position: relative;
  margin-right: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  &.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

.menu-mobile {
  // display: none;
  height: 95vh;
  overflow: scroll;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: 3;
  border-radius: 10px;
  transform: translate(100%);
  transition: all 0.5s;
  &.menu-active {
    transition: all 0.5s;
    display: block !important;
    transform: translate(0);
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  transition: all 5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  &.hidden {
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 1200px) {
  .header__button-small-res {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header > a:first-child {
    display: none;
  }

  .banner-section__ads {
    display: none;
  }
  .header__center {
    width: calc(100vw - 290px);
  }
  .header__button:last-child {
    width: 200px;
  }
  .banner-section__banner {
    width: calc(100vw - 290px);
  }
  .banner {
    // width: calc(100% - 220px);
    width: 100%;
  }
  .banner__logo {
    padding: 10px 0 !important;
  }
  .header__button-small-res {
    margin-top: 24px;
    width: 200px;
  }
  .banner-section__menu {
    width: 200px;
  }
  .banner__menu {
    width: 200px;
  }

  .menu__item {
    padding: 20px 0 20px 35px;
    a {
      font-size: 14px;
    }
  }
  .menu__item::before {
    right: 20px;
  }
  .banner-section > aside {
    max-width: 200px;
  }
  // .menu__ad {
  //   width: 180px;
  //   height: 180px;
  //   margin-top: 20px;
  //   margin-bottom: 12px;
  //   background-size: 180px 180px;
  //   .menu-ad-item__btn-block {
  //     a {
  //       img {
  //         width: 50px;
  //       }
  //     }
  //   }
  // }
}

@media screen and (min-width: 768px) {
  .header__btn-block a:last-child {
    display: none;
  }
  .header__bell {
    margin-right: 36px;
    // left: 36px !important;
  }
}

@media screen and (max-width: 767px) {
  // .container {
  //   padding: 12px 15px 0;
  // }
  .banner-section aside {
    display: none;
  }
  .header > a:last-child {
    display: none;
  }
  .header > .header__button {
    width: 100%;
    height: 60px;
  }
  .header__center {
    border-radius: 15px;
  }
  .banner-section__banner {
    width: 100%;
    height: 60vh;
  }
  .banner {
    height: 100%;
  }
  .banner__intro-span {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .banner__logo {
    padding: 15px 0 !important;
  }
  .banner__text {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
  }
  .banner__btn {
    margin-bottom: 24px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .banner__btn {
    animation: banner-btn-heartbeat infinite 2s linear;
  }
}

@keyframes banner-btn-heartbeat {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05, 1.05);
  }
  to {
    transform: scale(1);
  }
}
